<% for column in User.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= h @user.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
