<h1>Editing Client</h1>

<%= link_to 'View', { :action => 'view', :id => @client }, :class => 'admin-action' %> |
<%= link_to 'Back', { :action => 'list' }, :class => 'admin-action' %>

<%= start_form_tag :action => 'edit', :id => @client %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>


