<h1>Editing Client</h1>

<%= link_to 'View', { :action => 'view', :id => @client }, :class => 'admin-action' %> |
<%= link_to 'Back', { :action => 'list' }, :class => 'admin-action' %>

<% form_for :client, :url => client_path(@client), :html => { :method => :put } do |form| %> 
  <%= render :partial => 'form', :locals => { :form => form } %>
  <%= submit_tag 'Save' %>
<% end %>
