<h1>New Client</h1>

<%= link_to 'Back', { :action => 'list' }, :class => 'admin-action' %>

<% form_for :client, :url => clients_path do |form| %> 
  <%= render :partial => 'form', :locals => { :form => form } %>
  <%= submit_tag "Create" %>
<% end %>
