<h1>New medium</h1>

<%= error_messages_for :medium %>

<% form_for(@medium) do |f| %>
    <%= render :partial => 'form', :locals => { :form => f } %>
    <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', media_path %>